@font-face {
    font-family: "SuperMario";
    src: url("../imagesandsounds/");
}

body {
    background-image: url("../imagesandsounds/supermario.png");
    background-attachment: fixed;
    font-family: "Press Start 2P", cursive;
}

h1 {
    font-size: 30px;
}

.mario {
    font-family: "SuperMario";
    font-size: 60px;
    color: red;
}

p {
    font-size: 25px;
}

#current-word {
    font-weight: bold;
    font-size: 28px;
}